@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
	
*{
	box-sizing: border-box;
}

body{
	margin:0;
}

.everything{
	display: flex;

}


.grey-dot{
	display:flex;
	align-items: center;
	justify-content: space-around;
	height: 12px;
	width: 12px;
	margin:3px;
	background-color: #000000;
	border-radius: 50%;
	opacity: 0.3;

	}
.img11 img{
	width:30px;
	height: 30px;
	
}








/* modal display */


  /*side panels*/

  /*lifecycle*/

